<html lang="en">
        <head>
          <meta charSet="utf-8" />
          <meta name="viewport" content="width=device-width, initial-scale=1.0" />
          {props.headComponents}
          <link rel="icon" href={favicon} />
          {css}
          <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        </head>
        <body>
        <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
          <div id="___gatsby" dangerouslySetInnerHTML={{ __html: props.body }} />
          {props.postBodyComponents}
          
        </body>
      </html>